* {
  font-family: 'Titillium Web', sans-serif; }

body {
  background: black; }

.mainContent,
.landingContent,
.mapContent,
.starCanvas,
.mapCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.starCanvas {
  transform: scale3d(1, 1, 1) translateX(0);
  transition-timing-function: ease-in; }

.mapCanvas {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3) translate3d(30%, 30%, 0);
  transition-duration: 1.5s;
  transition-timing-function: ease-out; }

.mapCanvasZoom {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

.large {
  transition-duration: 1.9s; }

.mid {
  transition-duration: 2.8s; }

.small {
  transition-duration: 3.8s; }

.starCanvasZoom {
  transform: scale3d(4, 4, 4) translate3d(-100%, 0, 0); }

.mapContent {
  z-index: -100; }

.landingBg {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  z-index: -1;
  opacity: 1; }

.transition1,
.transition2,
.mapBg {
  top: 0;
  left: 0;
  opacity: .6;
  position: absolute; }

.mapBg {
  opacity: 0; }

.transition1 {
  left: 50%;
  transform: translate3d(-53%, 0, 0) scale3d(1, 1, 1);
  transition: 5s; }

.transition1Animation {
  transform: translate3d(-56%, 3%, 0) scale3d(1.4, 1.4, 1.4); }

.transition2 {
  width: 200%;
  transition: 5s; }

.transition2Animation {
  transform: scale3d(1.6, 1.6, 1.6) translate3d(0, 0, 0); }

@-webkit-keyframes starGlow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff; }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff; } }
@-webkit-keyframes starGlowAnimate {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
.starDecor {
  -webkit-animation: starGlow 1.5s ease-in-out infinite alternate;
  -moz-animation: starGlow 1.5s ease-in-out infinite alternate;
  animation: starGlow 1.5s ease-in-out infinite alternate;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  z-index: -1; }

.starAnimate {
  -webkit-animation: starGlowAnimate 1.5s ease-in-out infinite alternate;
  -moz-animation: starGlowAnimate 1.5s ease-in-out infinite alternate;
  animation: starGlowAnimate 1.5s ease-in-out infinite alternate; }

.submitBtn {
  background-color: #444444;
  border: none;
  letter-spacing: 9px;
  font-size: 16px;
  color: #c9c9c9;
  padding: 16px;
  float: right;
  margin-top: 20px;
  transition: .5s; }

.landingBtn {
  position: absolute;
  top: 70%;
  width: 40%;
  max-width: 300px;
  border: none;
  letter-spacing: 12px;
  font-size: 18px;
  transition: .5s; }

@media (max-width: 767px) {
  .landingBtn {
    font-size: 12px;
    letter-spacing: 4px; }

  .formHeader {
    font-size: 15px; } }
.startBtn {
  left: 50%;
  transform: translateX(-110%);
  padding: 20px;
  background-color: #444444;
  color: #c9c9c9; }

.registerBtn {
  left: 50%;
  border: 2px solid #f9f9f9;
  transform: translateX(12%);
  padding: 18px;
  background-color: transparent;
  color: #f9f9f9;
  box-sizing: border-box; }

.startBtn:hover {
  background-color: black;
  color: white; }

.registerBtn:hover,
.submitBtn:hover {
  background-color: white;
  color: black; }

.landingForm::before,
.landingForm::after {
  position: absolute;
  height: 100%;
  content: "";
  top: 0; }

.landingForm::before {
  left: 0;
  transform: translateX(-99.4%);
  border-right: 70px solid black;
  border-bottom: 70px solid transparent; }

.landingForm::after {
  left: 100%;
  transform: translateX(-1%);
  border-left: 70px solid black;
  border-top: 70px solid transparent; }

.landingForm {
  position: absolute;
  background-color: black;
  color: #c9c9c9;
  padding: 20px 0 30px 0;
  left: 50%;
  top: 45%;
  transform: translateY(-50%) translateX(-50%); }

.closeForm {
  float: right;
  cursor: pointer;
  transition: .3s;
  transform: scale(1.5, 1);
  margin-top: -20px; }

.closeForm:hover {
  text-shadow: 0 0 0.2em #71abff, 0 0 0.2em #71abff, 0 0 0.2em #71abff; }

.userInput {
  background-color: transparent;
  width: 50vw;
  margin: 10px 0;
  border: none;
  border-radius: 0;
  color: white;
  letter-spacing: 6px;
  padding-left: 36px;
  z-index: 100; }

.userInput:focus {
  box-shadow: 0px 0px 20px #71abff; }

.customPlaceholder {
  position: absolute;
  letter-spacing: 6px;
  margin-top: -24px;
  color: white;
  text-shadow: 0 0 0.2em #71abff, 0 0 0.2em #71abff, 0 0 0.2em #71abff;
  font-size: 50px; }

.userInputLabels {
  padding-left: 1px;
  letter-spacing: 6px; }

.userInput:focus::-webkit-input-placeholder {
  color: white; }

.userInput:focus:-moz-placeholder {
  color: white; }

/* Firefox 18- */
.userInput:focus::-moz-placeholder {
  color: white; }

/* Firefox 19+ */
.userInput:focus:-ms-input-placeholder {
  color: white; }

/* oldIE ;) */
.formHeader {
  letter-spacing: 12px;
  margin-bottom: 30px; }

.mask,
.maskLabel {
  position: absolute;
  height: 24px;
  width: 0;
  background: black;
  right: 0; }

.mask {
  height: 36px; }

.maskLabel {
  transform: translateY(-130%); }

@keyframes removeMask {
  0% {
    width: 99%; }
  5% {
    width: 97%; }
  10% {
    width: 95%; }
  15% {
    width: 93.4%; }
  20% {
    width: 91.4%; }
  25% {
    width: 89%; }
  30% {
    width: 87.4%; }
  35% {
    width: 85%; }
  40% {
    width: 83%; }
  45% {
    width: 81%; }
  50% {
    width: 78%; }
  55% {
    width: 75%; }
  60% {
    width: 73%; }
  65% {
    width: 71%; }
  70% {
    width: 68.4%; }
  75% {
    width: 66%; }
  80% {
    width: 63%; }
  85% {
    width: 61%; }
  90% {
    width: 58.4%; }
  95% {
    width: 56%; }
  99% {
    width: 54%; } }
.removeMask {
  animation-name: removeMask;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; }

/**LEVEL DESIGN**/
.levelMap,
.levelInterface {
  position: absolute;
  width: 100vw;
  height: 100vh; }

.levelInterface {
  z-index: 100; }

.disableInterfaceClick {
  pointer-events: none; }

.sun {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0); }

.viewPlanetWindow {
  position: relative;
  background-color: #3f3f3f;
  height: 200px;
  width: 200px; }

.viewPlanet,
.planetCursor {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0); }

.planetCursor {
  z-index: -1000; }

.lockTrack {
  left: 100% !important;
  top: 50% !important; }

.orbitTrack,
.newOrbitTrack {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid white;
  z-index: -1200; }

@keyframes axisRotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  25% {
    transform: rotate3d(0, 0, 1, 90deg); }
  50% {
    transform: rotate3d(0, 0, 1, 180deg); }
  75% {
    transform: rotate3d(0, 0, 1, 270deg); }
  100% {
    transform: rotate3d(0, 0, 1, 360deg); } }
.armRotate,
.newRadius {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  border: 1px solid white;
  transform-origin: 0 50% 0;
  z-index: -1200; }

/*# sourceMappingURL=style.css.map */
